<div class='container' ng-controller="showSuppliersCtrl">
    <h2 class="extra-padding">Products</h2>
    <div class="regular_size_table">
        <table class="table table-hover table-responsive table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Supplier ID</th>
                    <th class="text-center">Company Name</th>
                    <th class="text-center">Contact Name</th>
                    <th class="text-center">Contact Title</th>
                    <th class="text-center">Address</th>
                    <th class="text-center">City</th>
                    <th class="text-center">Country</th>
                    <!-- <th class="text-center">Movie Image</th> -->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="supplier in suppliers"> 
                    <td class="text-right">{{supplier.SupplierID}}</td>
                    <td class="text-left">{{supplier.CompanyName}}</td>
                    <td class="text-right">{{supplier.ContactName}}</td>
                    <td class="text-left">{{supplier.ContactTitle}}</td>
                    <td class="text-left">{{supplier.Address}}</td>
                    <td class="text-left">{{supplier.City}}</td>
                    <td class="text-left">{{supplier.Country}}</td>
                    <!-- <td class="text-left movie-image-link"></td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
